* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 100px auto;

}
p {
    color: rgb(24, 23, 26);

} 

.header {
    justify-content: center;
    align-items: center;
    display: grid;
    background: #3700B3;
    grid-auto-flow: column;
    position: relative;
    grid-template-columns: 3fr 5fr 3fr 2fr;
    grid-gap: 5px;
    color: white;
}
.main {
    display: grid;
    margin: 20px;
    margin-top: 60px;
    grid-template-columns: 200px 5fr 2fr;
    grid-template-areas: 
    "sidebar-1  content sidebar-2";
    grid-gap: 10px;
    border-left-color: 1px solid grey;

}
.search {
    display: grid;
    grid-template-columns: 40% 10%;
    justify-content: center;
    align-content: center;
    margin-left: 8px;
}
#search {
    border-radius: 7px;
    width: 270px;
    height: 30px;
}

.sidebar-1 {
    grid-row-gap: 20px;
    grid-area: sidebar-1;
    grid-template-rows: 1fr 3fr;
    display: grid;
    padding: 10px;
   
}
.sidebar-2 {
    border-top-style: inset;
    border-style: 1px dashed;
    background-color: rgb(236, 225, 225);
    grid-area: sidebar-2;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 300px;
    
}
.content {
    display: grid;
    grid-area: content;
    padding:20px;
}
.form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    font-size: 20px;
    margin-left: 10px;

}
label {
    margin-top: 20px; 
} 
li {
    margin: 40px;
    list-style-type: square;
}
.btn {
    /* to give the curved edge for the btn */
font-family: Arial;
color: #070000;
font-size: 18px;
padding: 4px;
margin: 5px;
height: auto;
text-decoration: none;
}
#headtitle {
    color: ghostwhite;
    height: 40px;
    font-style: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:20px; 
   }
   #img{
       max-width: 40px;

   }
   .login {
  color: white;
  background: none;
  
   }
   .fieldset{
       border-radius: 10px;
       border: none;
       border-left: 1px solid #666666;
       /* border: 1px hidden darkolivegreen; */
   }
   #home {
       text-decoration: none;
       color: rgb(244, 250, 248);
       padding-right: 10px;
       font-size: 18px;
   }
   .widget-statistic {
       font-size: 24px;
       padding: 60px;
       color: #3700B3;
   }
   .ask{
    background: #3700B3;
    color: white;
    font-weight: 900;
    font-stretch: condensed;
    height: auto;
    font-size: 20px;

   }
   .loginbox{
    width: 320px;
    height: 420px;
    background: linear-gradient(
        rgb(37, 24, 53),
        rgb(15, 4, 20)
      ),no-repeat;
    color:#ffffffe7;
    font-weight: bolder;
    top: 50%;
    left: 40%;
    position: relative;
    transform: translate(-50%, -50%);
    margin-top: 250px;
    box-sizing: border-box;
    padding: 40px 30px;
  }
  

  .loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
   .loginbox p{
     margin: 0;
     padding: 0;
     font-weight: bold;
   }
  .loginbox input{
    width:100%;
    margin-bottom: 20px;
  }
  
  .loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .loginbox input[type="submit"]{
    border: 1px solid #fff;
    outline: none;
    height: 40px;
    background: rgb(40, 38, 145),no-repeat;
    color: rgb(7, 7, 7);
    font-size: 16px;
  }
  
  .loginbox input[type="submit"]:hover{
    background: linear-gradient(
        rgba(53, 66, 74, 0.2),
        rgba(53, 66, 74, 0.2)
      );
    cursor: pointer;
    border-radius: 6px; 
  }
  
  .loginbox a{
    text-decoration: none;
    color: rgba(226, 135, 226, 0.589);
  }
  #link {
      padding: 40px;
      
  }
  .left_bar {
      position: static;
      padding-right: 0;
      margin-bottom: 10px;
  }
  .quest {
      list-style-type: none;
      border-top: 1px inset;
      border-bottom: 1px inset;
      padding: 10px;

  }
  .quest button {
       margin-top: 20px;
       font-size: 18px;
       background-color: #C15044;
       border: none;
       padding: 3px;

  }
  .asker {
      text-align-last: end;
      color: #3700B3;
  }
  #all_quest {
      margin: 10px;
      text-align: center;
      font-size: 26px;
      font-style: italic;
  }
  /* Upvote */
  .circle .up {
    border-radius: 5rem 5rem 0 0;
    }
    .circle .down {
    border-radius: 0 0 5rem 5rem;
    }
    .circle .count {
    border-radius: 100%;
    }
    .vote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Noto Sans";
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    }
    .increment {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    text-align: center;
    opacity: .5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    }
    .increment.up {
    background: #4BC35F;
    height: 40%;
    margin-bottom: 0.25rem;
    }
    .increment.down {
    background: #C15044;
    height: 40%;
    }
    .increment:hover {
    opacity: 1;
    }
    .count {
    position: absolute;
    top: 0;
    border-radius: 0.1rem;
    margin: 2.5rem;
    background: #F6F3E4;
    width: 5rem;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 5rem;
    text-align: center;
    box-shadow: 0 0 0 0.5rem #F6F3E4;
    pointer-events: none;
    }
    .count.upvoted {
    color: #4BC35F;
    }
    .count.downvoted {
    color: #C15044;
    }
    .bump {
    -webkit-animation: bump 200ms;
    animation: bump 200ms;
    }
    @-webkit-keyframes bump {
    30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    }
    }
    @keyframes bump {
    30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    }
    }
    #submit_answer {
        height: 100px;
        width: 100%;
        margin-top: 10px;
        padding-left: 5px;
    }
    .user {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
    }
    .view_quest {
        margin: 0px;
    }
    .card {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: 1fr 2fr 2fr;
        padding-left: 5%;
    }
    #profile {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .profile_answer {
      margin: 10px;
    }
    .profile_quest {
        margin: 10px;
      }
      #answers {
          font-size: 20px;
        padding: 10px;
        border-bottom: 3px dashed gray;
      }
      #questions {
        border-bottom: 3px dashed gray;
        padding: 10px;
        font-size: 20px;
      }
      .answer_view {
          border: 5px solid #C15044;
          position: absolute;
          text-align: center;
          width: 40px;
          padding: 3px;
          margin-top: 5px; 
       
      }
      .quest {
          display: inline-block;
      }
      #quest_view {
        margin-left: 50px;
        list-style-type: none;
      }
      #answer_count {
          margin-left: 60px;
          padding-top: 10px;
          font-size: 16px;
          
      }
      #expand_quest {
        font-size: 18px;
      }
      .recent_quest {
          color: #3700B3;
          border: none;
          list-style-type: none;
      }
      .form2{
          margin-top: 30px;
      }