*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 20% 80%;
}

.header {
    justify-content: center;
    align-items: center;
    height: 100px;
    width: auto;
    display: grid;
    background: #3700B3;
    grid-auto-flow: column;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    color: white;
   
}

p {
    color: rgb(24, 23, 26);

} 

.logo-section {
    display: grid;
    grid-gap: 0em;
    margin-left: 20px;
    grid-template-columns: 20% 70%;
    grid-template-rows: 100px; 
} 
.logo img {
   height:45px;
   padding-left: 20px;
   margin-top: 25px;
}
.stack p {
    color: #f5e0e0;
    margin-top: 30px;
    font-style: bold;
    font-size: 24px;
    font-family: cursive;
    margin-left: 0px;
    cursor: pointer;
     
}

/* Fixes submit button height problem in Firefox */
.button::-moz-focus-inner {
    border: 0;
}

.search-box {
    margin-left: 40px;
}
 
 .search-box input[type="text"] {
     width: 200px;
     height: 25px;
     padding-right: 50px;
     border: 1px solid rgb(117, 163, 255);
     border-radius: 3px;
 }
 
 .search-box input[type="submit"] {
     margin-left: -50px;
     height: 25px;
     width: 50px;
     opacity: 1;
     transition: 0.3s;
     color: rgb(10, 0, 0);
     font-style: bold;
    border: 1px solid rgb(117, 163, 255);
    -webkit-appearance: none;
}

.search-box input[type="submit"]:hover {opacity: 0.6}

.login-area {
    margin-left: 30px;
}

#join {
    background-color: #f8f5f4;
    color: rgb(12, 1, 1);
    padding: 5px;
    border-radius: 3px;
    margin-right: 10px;
}

#login{
    background-color: green; 
    padding: 5px;
    border-radius: 3px;
}

button { 
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    outline: none;
    opacity: 1;
    transition: 0.3s;

} 
button:hover {opacity: 0.6}
button::-moz-focus-inner {
    border: 0;
}

#home {
    text-decoration: none;
    color: rgb(244, 250, 248);
    padding-right: 10px;
    font-size: 18px;
}

.sidebar-1 {
    height: 100%;
    padding: 10px;
    background: rgba(53, 66, 74, 0.2);
   
}

.main {
    display: grid;
    margin: 20px;
    margin-top: 2px;
    grid-template-columns: 200px 5fr 2fr;
    grid-template-areas: 
    "sidebar-1  content sidebar-2";
    grid-gap: 10px;
    grid-auto-rows: span 1 / -1;
    border-left-color: 1px solid grey; 

}

.fieldset{
    border-radius: 10px;
    border: none;
    grid-row-end: -1;
}

.askBtn {
    background-color: rgb(0, 45, 128); 
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    font-size: 18px;
    padding-left: 10px;
    text-align-last:center; 

}
.askBtn a{
    text-decoration: none;
    color: rgb(244, 250, 248);
    font-weight: bolder;
    font-size: 20px;

}

.sidebar-2 {
    height: 100%;
    padding: 10px;
    background: rgba(53, 66, 74, 0.2);

    
}
.content {
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr 2fr;
    padding:20px;
    border: 1px hidden darkolivegreen;

}

/* label {
    margin-top: 20px; 
} 
li {
    margin: 40px;
    list-style-type: square;
} */


.ask-ques {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

}

#ques-body {
    width: 80%;
    height: 100%;
    margin: 20px;

}
#ques-title {
   width: 80%;
   margin: 10px; 
}

.ques-btn {
    width: 70px;
    margin: 80px;
    height: 50px; 
 }
.modal1 {
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     position: fixed;
     background: rgba(53, 66, 74, 0.6);
     z-index: 2;
     padding-top: 40px;
     display: none; 
}

.modal{
    width: 320px;
    height: auto;
    background: linear-gradient(
        rgb(37, 24, 53),
        rgb(15, 4, 20)
      ),no-repeat;
    color:#ffffffe7;
    font-weight: bolder;
    margin-top: 200px;
    box-sizing: border-box;
    padding: 40px 30px;
}

.modal_submit{
    border: none;
    background: none;
    color: rgba(226, 135, 226, 0.589);
}
.close {
      float: right;
      display: block;
      font-size: 2em;
      margin-inline-end: 0;
      cursor: pointer;
  }
.modal h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
  
.modal p{
     margin: 0;
     padding: 0;
     font-weight: bold;
}
.modal input{
    width:100%;
    margin-bottom: 20px;
}
  
.modal input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
  
.modal input[type="submit"]{
    border: none;
    /* outline: none; */
    height: 40px;
    background: rgb(38, 145, 118);
    color: rgb(7, 7, 7);
    font-size: 16px;
    cursor: pointer;
}
  
.modal input[type="submit"]:hover{
    background:  lime;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px; 
}
  
  .modal a{
    text-decoration: none;
    color: rgba(226, 135, 226, 0.589);
}
#signin {
    margin-top: 30px;
}

#email {
    padding: 5px;
    margin-bottom: 10px;

}

#email_label {
    padding-bottom: 20px;
}

.stat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: rgb(66, 32, 12);
}
.tpo  a {
    text-decoration: none;
    padding-left: 20px;
    font-size: 18px;
}
/* .square {
    text-align: center;
    height: 60px;
    width: 75px;
    padding: 10px;
    background-color: white;
    border: 1px solid turquoise;
}
.square p {
    padding-right: 20px;
} */
 .vot { 
    text-align: center;
 }
/* .vot p {
    padding-top: 10px;
    /* color: brown; */

#vote2 {
    padding-top: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#square2 {
    padding-top: 15px;
    margin-top: 50px;
    text-align: center;
    height: 55px;
    width: 75px;
    padding-right: 10px;
    margin-left: 0;
    /* padding: 10px; */
    background-color: white;
    border:  1px solid turquoise;
}

#vies2 {
    padding-top: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.quest {
    list-style: none;
    padding-left: 20px;
    margin: 10px;
    padding-top: 25px;
    margin-bottom: 20px;
}
.asker1 {
    padding-top: 40px;
    display:inline;
    padding-left: 80px;
    margin: 20px;;
    color: #3700B3;
}
.asker {
    display: inline;
    text-align-last: start;
    color: #3700B3;
}
#freq {
    font-style: normal;
    background: #fff;
    color: #3700B3;
    box-shadow: 1px 1px 1px gray;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.listSide li {
    list-style: none;
    font-weight: 200;
    margin-bottom: 20px;
}